body {
	margin: 20px;
}

#queryFields {
	border: 2px solid #a1a1a1;
	padding: 20px 40px;
	width: 1100px;
}

#custTable {
	border: 2px solid #a1a1a1;
	padding: 10px 20px;
	height: 300px;
	width: 1150px;
	overflow: scroll;
}

#customHeader1{
	font-size: 20px;
}

#orgNameSel{
	height: 25px;
	padding: 1px 30px 0;
	border: 1px solid #BBB;
	float:right;
	width:31.5%
}

.btnSearch {
position: relative;
padding: 5px;
cursor: pointer;
float: left;
}
